form {
  padding: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

form > * {
  caret-color: #cccccc;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

input[type="text"]::-webkit-input-placeholder {
  padding: .125rem;
  color: #717173;
  text-transform: capitalize;
  font-size: 1.1125rem;
}

input[type="text"]:-ms-input-placeholder {
  padding: .125rem;
  color: #717173;
  text-transform: capitalize;
  font-size: 1.1125rem;
}

input[type="text"]::-ms-input-placeholder {
  padding: .125rem;
  color: #717173;
  text-transform: capitalize;
  font-size: 1.1125rem;
}

input[type="text"]::placeholder {
  padding: .125rem;
  color: #717173;
  text-transform: capitalize;
  font-size: 1.1125rem;
}

input[type="text"] {
  position: relative;
  padding: .5rem;
  font-size: 1.2rem;
  color: #575655;
  text-transform: capitalize;
  outline: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: .7rem;
  background: #F2F0ED;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type="text"]:focus {
  border-color: #D1D0CD;
}

input[type="text"]:focus::-webkit-input-placeholder {
  color: #666564;
}

input[type="text"]:focus:-ms-input-placeholder {
  color: #666564;
}

input[type="text"]:focus::-ms-input-placeholder {
  color: #666564;
}

input[type="text"]:focus::placeholder {
  color: #666564;
}

input[type="text"]:hover {
  opacity: .8;
}

input[type="file"] {
  display: none;
}

.upload {
  border: 1px solid #ccc;
  border-radius: .125rem;
  font-variant: small-caps;
  display: inline-block;
  padding: .375rem .750rem;
  cursor: pointer;
}

button {
  font-size: 1rem;
  padding: .6rem 1.8rem;
  border-radius: 2rem;
  text-transform: capitalize;
  color: #666564;
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

button:hover {
  color: #464543;
  -webkit-box-shadow: 0 0.5rem 0.8rem rgba(118, 133, 127, 0.4);
          box-shadow: 0 0.5rem 0.8rem rgba(118, 133, 127, 0.4);
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.output, .errors {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #464543;
  padding: .5rem;
  background: #FFF;
  max-width: 30rem;
  border-radius: .7rem;
  -webkit-box-shadow: 0 0.5rem 0.8rem rgba(118, 133, 127, 0.4);
          box-shadow: 0 0.5rem 0.8rem rgba(118, 133, 127, 0.4);
}

.output .image, .errors .image {
  max-width: 10rem;
  max-height: 10rem;
}

.output .image img, .errors .image img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=main.css.map */